/* src/styles/StockData.css */
.StockData {
    padding: 20px;
    font-family: Arial, sans-serif;
}

.StockData input, .StockData button {
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.StockData button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.StockData input[type="date"] {
    margin-right: 0;
}

.error {
    color: red;
}

.loading {
    color: #0056b3;
}

.chart-container {
    margin-top: 20px;
    width: 1800px;
    height: 500px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #0073e6;
    color: white;
}


canvas {
    width: 100% !important;
    height: 100% !important;
}

